.general {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.general h2 {
    margin: 0;
    font-size: 1.5em;
}

.general p {
    margin: 5px 0 0;
    color: #555;
}

.menu {
    margin-bottom: 20px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    display: inline;
    margin-right: 10px;
  }
  
  .menu button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .menu button:hover {
    background-color: #45a049;
  }